<% items.forEach(item => { %>
    <a href="/components/<%= item.id %>">
      <div class="flex flex-col border border-gray-300">
        <div class="w-full h-[250px]">
          <img
            src="<%= item.image %>"
            alt="<%= item.item_name %>"
            loading="lazy"
            class="w-full h-full object-cover object-center"
          />
        </div>

        <div class="flex flex-col pl-2 py-1 bg-[#163933]">
          <p
            class="text-[#fff8da] font-[Inter]"
            title="<%= item.item_name %>"
          >
            <%= item.item_name %>
          </p>
          <p class="text-[#cba060] text-sm font-[Inter]">
            ₱<%= item.price %>
          </p>
        </div>
      </div>
  </a>
<% }) %>


<!-- green - #163933 -->
<!-- peach - #fff8da -->
<!-- brown- #cba060 -->
